sudo: false
cache: bundler
before_install:
  - gem install bundler
language: ruby
rvm:
  - 2.4.3
  - 2.5.0
  - 2.6.0
  - jruby-9.2.7.0
  - jruby-head
jdk:
  - openjdk8
  - openjdk11
  - oraclejdk11
matrix:
  exclude:
    - rvm: 2.4.3
      jdk: openjdk8
    - rvm: 2.4.3
      jdk: openjdk11
    - rvm: 2.5.0
      jdk: openjdk8
    - rvm: 2.5.0
      jdk: openjdk11
    - rvm: 2.6.0
      jdk: openjdk8
    - rvm: 2.6.0
      jdk: openjdk11

  allow_failures:
    - rvm: jruby-head
notifications:
  irc: 'irc.freenode.org#awestruct'
