---
layout: base
---
.row
  .large-12.columns
    %h1 You're awestruct! 
    %hr

.row
  .large-12.columns
    .panel
      %h3 Get started
      %p This site is all setup to use Foundation 4 with Awestruct.
      %a.button{:href=>'http://foundation.zurb.com'} Check out Foundation 4
      %a.button.secondary{:href=>'http://awestruct.org'} Check out Awestruct

.row
  .large-4.columns
    %h3 About 
    %p Awestruct is a framework for creating static HTML sites. It's inspired by the awesome Jekyll utility in the same genre. Additionally, Awestruct integrates technologies such as Compass, Markdown and Haml.
    %p
      %a.button{:href=>'http://awestruct.org'} View details &raquo; 

  .large-4.columns
    %h3 Goal
    %p The goal of Awestruct is to make it trivially easy to bake out non-trivial static websites. In addition to providing template-driven site creation (using Haml), Awestruct provides facilities for easily priming the site creation with additional non-page data.
    %p
      %a.button{:href=>'http://awestruct.org'} View details &raquo; 

  .large-4.columns
    %h3 Concept
    %p The core concept of Awestruct is that of structures, specifically Ruby OpenStruct structures. The struct aspect allows arbitrary, schema-less data to be associated with a specific page or the entire site.
    %p
      %a.button{:href=>'http://awestruct.org'} View details &raquo; 
