%html
  %head
    %title
      An awesome site 
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/grid.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/text.css', :media=>'print' }
  %body.ninesixty
    #container
      ~ content
